@model IEnumerable<Department>

@{
    ViewData["Title"] = "Index";
}

<h1>All Departments</h1>

@if (!string.IsNullOrEmpty(@TempData["Message"] as string))
{
    <div class="m-3 alert alert-success ">
        <p>@TempData["Message"]</p>
    </div>
}

<partial name="Search_partial_view" />

<a asp-action="Create" asp-controller="Department" class="btn btn-primary my-5">Create Department </a>
@if(Model.Count()>0){
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Date Of Creation</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
           @foreach( var ITem in Model){
               <tr>
                   <td>
                        @ITem.Code
                    </td>
                    <td>
                        @ITem.Name
                    </td>
                    <td>
                        @ITem.CreateAt
                    </td>
                    <partial name="BtnPartialView" model="@ITem.Id.ToString()" />

               </tr>
           }
        </tbody>
    </table>
}else{
    <div class="bg-warning rounded">
        <h4 class="p-3">
            There is No Departments
        </h4>
    </div>
}