
<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"] </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
	
	<link rel="stylesheet" href="~/css/StyleSheet.css"  />

	<!-- //web font -->
</head>
<body style="background-color: #eee;">

	<section class="vh-100" style="background-color: #eee;">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-8 col-lg-6 col-xl-5">
					<div class="card shadow-2-strong" style="border-radius: 1rem;">
						<div class="card-body p-5 ">

							<h3 class="h1 text-center">@ViewData["Title"]</h3>

							<script src="~/lib/jquery/dist/jquery.min.js"></script>
							<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
							@RenderBody()
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	@* <div class="main-w3layouts wrapper"> *@
	@* 	<h1>Creative @ViewData["Title"] Form</h1> *@


	@* 	<script src="~/lib/jquery/dist/jquery.min.js"></script> *@
	@* 	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> *@
	@* 	@RenderBody() *@

	@* 	<!-- copyright --> *@
	@* 	<div class="colorlibcopy-agile"> *@
	@* 		<p>© 2018 Colorlib @ViewData["Title"] Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p> *@
	@* 	</div> *@
	@* 	<!-- //copyright --> *@
	@* 	<ul class="colorlib-bubbles"> *@
	@* 		<li></li> *@
	@* 		<li></li> *@
	@* 		<li></li> *@
	@* 		<li></li> *@
	@* 		<li></li> *@
	@* 		<li></li> *@
	@* 		<li></li> *@
	@* 		<li></li> *@
	@* 		<li></li> *@
	@* 		<li></li> *@
	@* 	</ul> *@
	@* </div> *@
	@* <!-- //main --> *@

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	@await RenderSectionAsync("ValidationSection", required: false);
</body>
</html>