@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}


<h1>All Employees</h1>


@if (!string.IsNullOrEmpty(@TempData["Message"] as string))
{
    <div class="m-3 alert alert-success ">
        <p>@TempData["Message"]</p>
    </div>
}

<form>
    <div>
        <div class="d-flex justify-content-center align-items-center">
            <input placeholder="Search By Name" name="SearchInput" id="SearchInput" class="form-control w-50 mx-2 " />
            <input type="submit" class=" btn btn-success " value="Search" />
        </div>

    </div>
</form>
<a asp-action="Create" asp-controller="Employee" class="btn btn-primary my-5">Add Employee </a>
@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover" id="table">
        <thead>
            <tr>
                <th>image</th>
                <th>id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>IsActive</th>
                <th>IsDeleted</th>
                <th>@Html.DisplayNameFor(E => E.HiringDate)</th>
                <th>@Html.DisplayNameFor(E => E.CreateAt)</th>
                <th>Department</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if(item.ImageName is not null){
                        <td><img src="~/files/images/@item.ImageName" alt="@item.Name" class=" imag-fluid rounded-circle w-100" /></td>

                    }
                    else{
                        <td> no image</td>

                    }
                    <td>@item.Id.ToString()</td>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>@item.Salary</td>
                    <td>@item.IsActive</td>
                    <td>@item.IsDeleted</td>
                    <td>@item.HiringDate</td>
                    <td>@item.CreateAt</td>

                    @if(@item.DepartmentId is null)
                    {
                        <td>No Department</td>
                    }
                    else{
                    <td>@item.Department?.Name</td>
                    }
                    <partial name="BtnPartialView" model="@item.Id.ToString()" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="bg-warning rounded">
        <h4 class="p-3">
            There is No Employee
        </h4>
    </div>
}


<script>
    // const SearchBar =$('#SearchInput') ;
    // const table = $('table') ;
    // SearchBar.on('keyup' ,function(event){
    // var searchvalue = SearchBar. val() ;
    // $.ajax({
    // url: '/Employee/Index',
    // type: 'Get'
    // data : {SearchInput: searchvalue}
    // seccess: function(result) {table. html(result)},
    // error: function(xhr, status, error){console. log(error)},

        $(document).ready(function(){
    const SearchBar = $('#SearchInput') ;
    const table = $('table') ;
    SearchBar.on('keyup' ,function(event){
    var searchvalue = SearchBar.val() ;
    $.ajax({
    url: '/Employee/Search',
    type: 'Get',
    data: {SearchInput:searchvalue},
    success: function(result) {table.html(result) ;},
    error: function(xhr, status, error) {console.log(error) ;}
    });

    });

    });
  </script>