@model IEnumerable<UserToReturnDto>
@{
    ViewData["Title"] = "Index";
}


<h1>All Employees</h1>


@if (!string.IsNullOrEmpty(@TempData["Message"] as string))
{
    <div class="m-3 alert alert-success ">
        <p>@TempData["Message"]</p>
    </div>
}

<form>
    <div>
        <div class="d-flex justify-content-center align-items-center">
            <input placeholder="Search By Name" name="SearchInput" id="SearchInput" class="form-control w-50 mx-2 " />
            <input type="submit" class=" btn btn-success " value="Search" />
        </div>

    </div>
</form>

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class=" not_in_mobile">Id</th>
                <th>User Name</th>
                <th class=" not_in_mobile">First Name</th>
                <th class=" not_in_mobile">Last Name</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>Role</th>

                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class=" not_in_mobile">@item.Id</td>
                <td >@item.UserName</td>
                    <td class=" not_in_mobile">@item.FirstName</td>
                    <td class=" not_in_mobile">@item.LastName</td>
                <td>@item.Email</td>
                    <td>@item.PhonNumber</td>
                <td>
                @foreach (var role in item.Roles)
                {
                <span>@role</span>
                }
             </td>
            <partial name="BtnPartialView" model="@item.Id" />

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="bg-warning rounded">
        <h4 class="p-3">
            There is No Employee
        </h4>
    </div>
}

<script>
    // const SearchBar =$('#SearchInput') ;
    // const table = $('table') ;
    // SearchBar.on('keyup' ,function(event){
    // var searchvalue = SearchBar. val() ;
    // $.ajax({
    // url: '/Employee/Index',
    // type: 'Get'
    // data : {SearchInput: searchvalue}
    // seccess: function(result) {table. html(result)},
    // error: function(xhr, status, error){console. log(error)},

        $(document).ready(function(){
    const SearchBar = $('#SearchInput') ;
    const table = $('table') ;
    SearchBar.on('keyup' ,function(event){
    var searchvalue = SearchBar.val() ;
    $.ajax({
    url: '/User/Search',
    type: 'Get',
    data: {SearchInput:searchvalue},
    success: function(result) {table.html(result) ;},
    error: function(xhr, status, error) {console.log(error) ;}
    });

    });

    });
</script>